<a href="/">main page</a></br>
<a href="/list/create">Add new record</a>
{% if users_list %}
<table>
    {% for user in users_list %}
    <tr>
        <td><a href="/list/{{ user.id }}/">{{ user.id }}</a></td>
        <td><a href="/list/{{ user.id }}/">{{ user.first_name }}</a></td>
        <td>{{ user.last_name }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>{{ user.birth_date }}</td>
        <td>{{ user.created_at }}</td>
        <td>{{ user.updated_at }}</td>
        <td> <a href="/list/{{ user.id }}/edit">Edit user</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No users are available.</p>
{% endif %}